.bg {
  position: absolute;

  width: 67vw;
  left: 33vw;
}

.header {
  position: absolute;
  top: 0;
  left: var(--container-left-offset);
  z-index: 2;
  mix-blend-mode: difference;
  /* animation: slide-text-in 500ms ease-in both; */
  white-space: nowrap;
}

.copy {
  opacity: 1;
  z-index: 1;
  top: var(--nav-bar-height);
  padding-right: var(--spacer-small);
}
/* Style for projects container, which contains cards that scroll horizontally in a single row*/

@keyframes slide-text-in {
  0% {
    left: 30vw;
  }

  100% {
    left: var(--container-left-offset);
  }
}
