.header {
  position: absolute;
  top: 0;
  left: var(--grid-gap);
  z-index: 2;
  white-space: nowrap;
}

.scroller {
  margin-left: var(--container-left-offset);
  background-color: var(--background-color);
  animation: slide-overlay-in calc(var(--animation-duration) * 2) ease-in-out
    both;
}

.scroller > div.container {
  line-height: 1.4;
  font-size: var(--font-size-large);
  font-weight: bold;
}

.introduction-container {
  --container-height: 50vh;
  --background-color: var(--tertiary);
  --font-color: var(--primary);
  height: var(--container-height);
  display: grid;
  text-align: left;
  padding: 0;
  place-items: center;

  padding: var(--spacer-large);
}

.introduction-container > p {
  height: auto;
  max-width: 40ch;
}

.projects-container {
  --container-width: 100vw;

  --container-height: calc(var(--card-width) + var(--grid-gap) * 4);

  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  align-items: center;
}

.about-container {
  --container-height: 50vh;
  height: var(--container-height);
  --container-width: 100vw;
  text-align: left;
}

.copy {
  opacity: 1;
  z-index: 1;
  top: var(--nav-bar-height);
  overflow-y: scroll;
  align-self: start;
  padding: var(--spacer-large);
  display: grid;
  place-content: center;
  height: 100%;
  text-align: left;
}

@media (min-width: 768px) {
  .technologies-container {
    --container-width: 100vw;
    --container-height: 50vh;
    flex-direction: row;
  }
  .technologies {
    --container-width: 20vw;
  }

  .scroller {
    --background-color: var(--primary);
  }

  .introduction-container {
    --container-height: 60vh;
    margin-top: var(--nav-bar-height);
    --background-color: var(--primary);
    --font-color: var(--tertiary);
  }

  .introduction-container > p {
    max-width: 40ch;
  }
}

/* Style for projects container, which contains cards that scroll horizontally in a single row*/
@keyframes slide-text-in {
  0% {
    left: 30vw;
  }

  100% {
    left: var(--container-left-offset);
  }
}

@keyframes slide-overlay-in {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: var(--container-left-offset);
  }
}
