.header {
  position: absolute;
  top: 0;
  left: var(--grid-gap);
  z-index: 2;
  white-space: nowrap;
}

.scroller {
  margin-left: var(--container-left-offset);
  background-color: var(--background-color);
}

.container {
  padding: var(--spacer-large);
}

.introduction-container {
  --container-height: 50vh;
  height: var(--container-height);
  margin-top: calc(var(--nav-bar-height) + var(--container-height));
}

.projects-container {
  --container-width: 100vw;
  --card-width: 50vw;
}

.about-container {
  height: fit-content;
  --container-width: 100vw;
}

.copy {
  opacity: 1;
  z-index: 1;
  top: var(--nav-bar-height);
  overflow-y: scroll;
  align-self: start;
}

@media (min-width: 768px) {
  .technologies-container {
    --container-width: 100vw;
    --container-height: 50vh;
    flex-direction: row;
  }
  .technologies {
    --container-width: 50vw;
  }

  .scroller {
    --background-color: var(--primary);
  }

  .introduction-container {
    --container-height: 100vh;
  }
}

/* Style for projects container, which contains cards that scroll horizontally in a single row*/
@keyframes slide-text-in {
  0% {
    left: 30vw;
  }

  100% {
    left: var(--container-left-offset);
  }
}
