.layout {
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  --background-color: var(--primary);
  --font-color: var(--tertiary);
  scroll-behavior: smooth;
}

.header {
  --box-shadow-left-offset: 0;
  background-color: var(--primary);
  display: grid;
  position: fixed;
  height: var(--nav-bar-height);
  width: 100%;
  z-index: 1030;
  place-content: center;
  place-items: center;
  justify-content: flex-end;
  top: 0;
}

.scroller {
  margin-left: var(--container-left-offset);
  background-color: var(--background-color);
}

.main {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  scroll-padding: 0 0 var(--nav-bar-height);
}

.page {
  color: var(--font-color);
  /* page starts offsreen, and slides in from right */

  height: fit-content;
  width: 100vw;
  left: 0vw;

  animation: slide-overlay-in calc(var(--animation-duration) * 2) ease-in-out
    both;
  background-size: 100% 100%;
  opacity: 0;
  background-position: 34% 34%;
}

.container {
  position: relative;
  max-height: 100vh;
  height: calc(var(--container-height) - var(--nav-bar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  background: var(--background-color);
  color: var(--font-color);
  padding: 0 var(--spacer-small);
  margin: 0 auto;
  scroll-snap-align: start;
}

/* every odd container offset */
.container:nth-child(even) {
  left: 0vw;
}

.bg__color {
  --background-color: var(--primary);
  --font-color: var(--tertiary);
}

.bg__color--inverse {
  --font-color: var(--primary);
  --background-color: var(--tertiary);
}

@media (min-width: 768px) {
  .header {
    --box-shadow-left-offset: var(--container-left-offset);
  }

  .scroller {
    --background-color: var(--primary);
  }
}

@keyframes slide-overlay-in {
  0% {
    background-position: 34%;
    opacity: 0;
  }
  100% {
    background-position: 0%;
    opacity: 1;
  }
}

@keyframes slide-text-in {
  0% {
    left: 30vw;
  }
  50% {
    left: 30vw;
  }
  100% {
    left: calc(34vw + var(--spacer-medium));
  }
}
