.projects {
  --container-width: 100vw;

  --card-width: 90vw;
  --background-color: var(--tertiary);
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--spacer-small);
  margin: 0 auto;
  max-width: var(--container-width);
  height: calc(
    var(--card-height) +
      calc(
        calc(var(--card-height) * var(--card-scale-factor) * 1.5) -
          var(--card-height)
      )
  );
  overflow-x: scroll;
  overflow-y: hidden;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--spacer-small);
}

.projects > div {
  --grid-gap: calc(
    calc(calc(var(--card-width) * var(--card-scale-factor)) - var(--card-width)) *
      0.5
  );
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-gap: var(--grid-gap);
  margin: 0 auto;
  padding: 0 var(--grid-gap);
  align-items: center;
  width: calc(
    calc(var(--project-number) * var(--card-width)) +
      calc(var(--grid-gap) * calc(var(--project-number) + 1))
  );
}

.visible {
  animation: slide-projects-in 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96)
    backwards;
  animation-delay: calc(var(--animation-order) * 150ms);
  animation-duration: 1000ms;
  transition: transform 200ms ease-out;
}

@keyframes slide-projects-in {
  0% {
    opacity: 0;
    /* transform: translateX(var(--spacer-medium)); */
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .projects {
    --card-height: 500px;
    --card-width: 575px;

    left: var(--container-left-offset);
  }
}
