.aside {
  --container-height: 175px;
  --transform-start: transform: translateY(-100%);
  --transform-end:  transform: translateY(0);
  width: 100vw;
  min-height: var(--container-height);
  display: flex;
  z-index: 0;
  background-color: var(--background-color);

  color: var(--font-color);
  justify-content: space-between;
  text-align: left;

  animation: slide-in calc(var(--animation-duration) * 2) ease-in both;
  position: relative;
  box-shadow: none;
  
  flex-wrap: nowrap;
  margin: var(--nav-bar-height) 0;
}

.hidden {
  --transform-start: translateY(0);
  --transform-end: translateY(-100%);
  
  animation: slide-out calc(var(--animation-duration) * 2) ease-in both;
}

.info {
  max-width: 80vw;
  display: flex;
  margin: 0 var(--spacer-small);
  flex-direction: column;
  gap: var(--spacer-small);
  justify-content: center;
}

.greeting {
  align-self: flex-start;
  display: none;
}

.hero {
  position: sticky;
  top: 0;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: flex-start;

  align-content: flex-start;
  justify-content: center;
}

.image {
  /* circular */
  border-radius: 50%;
  width: 175px;
  height: 175px;
  min-width: 175px;
  min-height: 175px;
  margin-inline: var(--spacer-medium);
  display: block;
  overflow: hidden;
}

@media (min-width: 768px) {
  
  .aside {
    --transform-start: translateX(-100%);
    --transform-end: translateX(0);
    
    --container-height: 110vh;
    width: var(--container-left-offset);
    padding-inline: var(--spacer-medium);
    margin-top: 0;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-small);
    top: -10%;
    justify-content: center;
    box-shadow: var(--box-shadow-left-offset) 0px 10px rgba(0, 0, 0, 0.5);
    animation: slide-in calc(var(--animation-duration) * 2) ease-in-out both;
    z-index: 2;
  }

  .hidden {
    --transform-start: translateX(0);
    --transform-end: translateX(-100%);
    
    animation: slide-out calc(var(--animation-duration) * 2) ease-in-out both;
  }

  .greeting {
    display: initial;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: var(--transform-start);
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: var(--transform-end);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: var(--transform-start);
    
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: var(--transform-end);
  }
}
