.navbar {
  display: grid;
  position: absolute;
  grid-template-columns: unset;
  width: min(50%, 275px);

  top: var(--nav-bar-height);

  text-transform: capitalize;
  font-size: var(--font-size-small);

  background-color: var(--background-color);

  margin-left: var(--container-left-offset);
  box-shadow: var(--box-shadow-left-offset) 0px 10px rgba(0, 0, 0, 0.5);
  right: -60%;
}

.open {
  right: 0;
  animation: slide-in calc(var(--animation-duration) * 2) ease-in-out forwards;
}

.closed {
  animation: slide-out calc(var(--animation-duration) * 2) ease-in-out both;
}

.button {
  --button-height: var(--nav-bar-height);
  --button-width: 100%;
  place-content: center;
  height: var(--button-height);
  width: var(--button-width);
  z-index: 5;
  background-color: var(--background-color);
  border: 2px solid var(--primary);
  outline: none;
  cursor: pointer;
  margin-inline: var(--spacer-small);
}

.navlink {
  color: var(--font-color);
  padding: var(--spacer-small);
  width: fit-content;
  font-size: smaller;
  text-decoration: none;
  text-align: center;
  line-height: 1;
}

.navlink:where(:focus, :hover) {
  background-color: var(--secondary);
}

:where(.active)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--tertiary);
  animation: draw-line 300ms ease-in-out both;
}

@media (min-width: 768px) {
  .navbar {
    grid-template-columns: repeat(var(--route-number), min-content);
    place-content: flex-end;
    place-items: flex-end;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    animation: slide-box-shadow-in calc(var(--animation-duration) * 2)
      ease-in-out forwards;
  }

  .open {
    right: 0;
    animation: inherit;
  }

  .closed {
    animation: inherit;
  }

  .games {
    animation: slide-box-shadow-out calc(var(--animation-duration) * 2)
      ease-in-out both;
  }

  .button {
    display: none;
  }
}

@keyframes draw-line {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slide-box-shadow-out {
  0% {
    box-shadow: var(--box-shadow-left-offset) 0px 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}

@keyframes slide-box-shadow-in {
  0% {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: var(--box-shadow-left-offset) 0px 10px rgba(0, 0, 0, 0.5);
  }
}

@keyframes slide-in {
  0% {
    right: -60%;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-out {
  0% {
    right: 0;
  }
  100% {
    right: -60%;
  }
}
